@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');


$color-titulos:rgb(41, 41, 236);
$hover-titulos:rgb(91, 91, 235);
$font-titulos:'Tiro Bangla', serif;
$font-size-parrafos:3rem;
