@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');


$color-titulos:rgb(41, 41, 236);
$hover-titulos:rgb(91, 91, 235);
$font-titulos:'Tiro Bangla', serif;
$font-size-parrafos:3rem;

/* MAPS */

$mapDeportes:(colorFuente: rgb(58, 161, 58), tamFuente: 2rem, estiloFuente: 'Tiro Bangla', margen: 5px );

/* MIXIN */

@mixin mixTamImg($ancho,$alto){
    width: $ancho;
    height: $alto;
}



$conjunto:(color:red, tamFuente: 2rem, )