@import "var";


h1{
    color: rgb(41, 41, 236);
    font-family: $font-titulos;
    text-align: center;
    &:hover{
        color: rgb(91, 91, 235);
    }
    a{
        text-decoration: none;
    }
}

.navPrincipal{
    ul{
        background-color: rgb(190, 184, 184);
    }
    li{
        display: inline-block;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
            &:hover{
                color: rgb(70, 66, 66);
            }
        }
    }
    
}

.contenido{
    padding: 5px;
    
    img{
        border-radius: 10px;
    }
    h2{
        color:$color-titulos;
        font-family:$font-titulos ;
        &:hover{
            color: $hover-titulos;
        }
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: $font-size-parrafos - 1.5rem;
    }
    .articulo:hover{
        filter: grayscale(50%);
    }
}


/* Usando MAPS*/
.navDeportes{
    list-style-type: none;
    display: inline-block;
    li{
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: map-get($mapDeportes ,colorFuente );
        margin: map-get($mapDeportes, margen);
        font-family: map-get($mapDeportes ,estiloFuente);
    }
}   
.tituloDeporte{
    margin-left: 20px;
    margin-right: 10px;
    color: map-get($mapDeportes, colorFuente );
    font-family: map-get($mapDeportes ,estiloFuente);
    display: inline-block;
}

.navRuta{
    ul{
        list-style-type: none;
    }
    li{
        display: inline-block;
    }
}

/* Extend */

.contenidoDeporte {
    @extend .contenido;
    h2{
        color: map-get($mapDeportes, colorFuente);
    }
}

/* MIXIN */

.imgGrande {
    @include mixTamImg(637px, 424px);
}
.imgChica {
    @include mixTamImg(375px, 229px);
}